In [2]:
import duckdb
import pandas as pd
import os
from datetime import datetime

In [3]:
con = duckdb.connect(database='dados_duckdb.db', read_only=False)

IOException: IO Error: File is already open in
C:\Users\batis\AppData\Local\Programs\Python\Python313\python.exe (PID 20964)

In [4]:
arquivo = 'z0019_1.csv'
data_ingestao = datetime.now()
df = pd.read_csv(f'../landing/{arquivo}', sep=';')
df['arquivo'] = arquivo
df['data_ingestao'] = data_ingestao

df.head()

,NATBR,MAKTX,WERKS,MAIN,LABST,arquivo,data_ingestao
0,1001,PARAFUSO,BT10,100,100,z0019_1.csv,2025-03-29 06:12:52.910906
1,1002,PARAFUSO,BT20,200,200,z0019_1.csv,2025-03-29 06:12:52.910906
2,1003,MARTELO,BT10,100,100,z0019_1.csv,2025-03-29 06:12:52.910906
3,1004,MARTELO,BT20,200,200,z0019_1.csv,2025-03-29 06:12:52.910906
4,1003,PORCA SEXTAVADA,BT30,150,150,z0019_1.csv,2025-03-29 06:12:52.910906

In [6]:
con.execute("""
CREATE TABLE IF NOT EXISTS bronze_produtos (
            NATBR      VARCHAR,
            MAKTX      VARCHAR,
            WERKS      VARCHAR,
            MAINS     VARCHAR,
            LABST     VARCHAR,
            nome_arquivo VARCHAR,
            data_ingestao TIMESTAMP
            )
            """)

NameError: name 'con' is not defined

In [5]:
resultado = con.execute("SELECT * FROM bronze_z0019").fetchdf()
print(resultado.head(40))

NameError: name 'con' is not defined

In [ ]:
con.execute("ALTER TABLE bronze_produtos RENAME TO bronze_z0019")

In [ ]:
con.execute("INSERT INTO bronze_z0019 SELECT * FROM df")

In [ ]:
con.close()